.home-presentation {
    padding: 5rem 0;

    p {
        margin-top: 2rem;
        text-align: center;
        font-size: 1.5rem;
    }

    .presentation_cities {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 1fr;
        gap: 5rem;
        margin-top: 5rem;

    }

    h3 {
        margin-top: 2rem;
    }

    /* LIENS */

    .presentation_city {
        display: block;
        background-color: var(--color-bg-bandeau-primary);
        box-shadow: 0 0 10px 5px var(--color-shadow-secondary);
        border-radius: 50%;
        overflow: hidden;

        img{
            display: block;
            width: 100%;
            height: auto;
            border-radius: 50%;
            transition: all var(--transition-primary);
        }   
        
        &:hover {
            img {
                opacity: 0.5;
                transform: scale(1.1);
            }
        }    
    }    
}