header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: var(--color-bg-header_bandeau-secondary);
    box-shadow: 0 2px 10px var(--color-shadow-primary);
}

/*************************************************/
/* HEADER : BANDEAU LEFT
/*************************************************/

.header_bandeau_left {
    background-color: var(--color-bg-header_bandeau-primary);
}

/*************************************************/
/* HEADER : BANDEAU CENTER
/*************************************************/

.header_bandeau_center {
    display: flex;
    justify-content: space-between;
}

/* LOGO & TITRE */

.header_bandeau_logo {
    display: flex;
    align-items: center;

    img {
        height: 6rem;
        padding: 1rem 0;
        background-color: var(--color-bg-header_bandeau-primary);
    }    

    .header_bandeau_logo-separator {
        border-left: 2rem solid var(--color-bg-header_bandeau-primary);
        border-bottom:  6rem solid transparent;
    }

    .header_bandeau_logo-title {
        font-size: 2rem;
        font-family: var(--font-family-title);
        color: var(--color-font-header_bandeau-title-primary);
        transition: color var(--transition-primary);

        span {
            transition: color var(--transition-primary);
            color: var(--color-font-header_bandeau-title-secondary);
        }      
    }

    img:hover, .header_bandeau_logo-separator:hover, .header_bandeau_logo-title:hover {
        &, ~.header_bandeau_logo-title {
            color: var(--color-hover-primary);

            span {
                color: var(--color-hover-primary);
            }
        }
    }

    &:focus-visible {
        .header_bandeau_logo-title {
            outline: 2px solid var(--color-hover-primary);
        }
    }
} 

