.coworking_equipment {
    margin-top: 3rem;

    >div {
        margin-top: 2rem;
        padding: 2rem;
        border: solid 1px var(--color-div-border-primary);
        border-radius: 6px;
        background-color: var(--color-bg-light-primary);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: max-content;
        gap: 3rem;

        >div {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 1.2rem;

            img {
                width: 3.5rem;
                margin-right: 0.5rem;
            }
        }
    }
}