.coworking-header {
    margin-top: 3rem;

    h1 {
        padding-left: 0.5rem;
    }

    .header-score {
        .note-moyenne {
            margin: 1rem 0 0;
        }
        
        .avis-lien {
            margin-bottom: 1rem;
            text-align: center;

            a {
                text-decoration: underline;
            }
        }
    }

    .header-infos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        padding: 1rem;
        border-top: solid 1px var(--color-div-border-primary);
        border-bottom: solid 1px var(--color-div-border-primary);
        
        .infos-coordonnees {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;

            img {
                height: 2rem;
                margin-right: 0.5rem;
            }
            
            span {
                font-size: 1rem;
            }

            a {
                text-decoration: underline;
            }
        }            
    }

    .header-presentation {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        margin-top: 4rem;

        .presentation-texte {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
    
            p {
               font-size: 1.2rem;
               text-align: justify;
            }
        }

        .presentation-image {
            flex: 2;
            min-height: 350px;
            background-image: url(../../../assets/img/home/place1.jpg);
            background-position: center;
            background-size: cover;
            background-clip: content-box;
            background-repeat: no-repeat;
            box-shadow: 0 0 30px 0 var(--color-shadow-primary);
        }
    }
}