.coworking_avis {
    margin-top: 3rem;
    margin-bottom: 4rem;

    .avis-moyenne {
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;

        .libelle {
            font-size: 1.6rem;
        }

        .etoiles >div {
            margin-bottom: -5px;
            font-size: 1.8rem;
        }

        .note {
            font-size: 1.1rem;
            color: var(--color-font-title-primary);
        }       
    }

    .avis-liste {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: max-content;
        gap: 1.5rem;

        .avis {
            padding: 2rem;
            border: solid 1px var(--color-div-border-primary);
            border-radius: 6px;

            .avis-header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .avis-header-left {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    img {
                        margin-right: 1rem;
                        width: 2.5rem;
                        background-color: var(--color-bg-button);
                        border-radius: 50%;
                    }

                    .pseudo {
                        font-weight: 600;
                        color: var(--color-font-title-primary);
                    }

                    .date {
                        font-size: 0.9rem;
                        text-align: center;
                    }
                }

                .etoiles {
                    >div {
                        font-size: 1.4rem;
                    }
                }
            }

            .commentaire {
                margin-top: 1.5rem;
            }

        }
    }
}