footer {
    background-color: var(--color-bg-dark-tertiary);
}

/*************************************************/
/* FOOTER : BANNER
/*************************************************/

.footer_banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;

    img {
        width: 4rem;
        margin-bottom: 1rem;
    }

    span {
        color: var(--color-font-light)
    }
}