footer {
    background-color: var(--color-bg-dark-tertiary);

    /*************************************************/
    /* FOOTER : BANNER
    /*************************************************/

    .banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2.5rem;

        img {
            width: 4rem;
            margin-bottom: 1rem;
        }

        span {
            color: var(--color-font-light)
        }
    }
}