/* BANDEAU : MENU */

.header_menu {
    display: flex;
    gap: 2.5rem;
    height: 100%;
    padding-left: 0;

    >li {
        display: flex;
        align-items: center;

        .menu-link, .menu-libelle, .menu-libelle::after {
            font-size: 1.2rem;
            font-weight: 500;
            color: var(--color-font-menu-primary);
            text-wrap: nowrap;
            transition: color var(--transition-primary), transform var(--transition-primary);
        }

        .menu-libelle {
            display: flex;
            align-items: center;
            cursor: default;

            &::after  {
                content: "";
                border-left: 0.45rem solid var(--color-font-menu-primary);
                border-top:  0.35rem solid transparent;
                border-bottom:  0.35rem solid transparent;
                margin-left: 0.5rem;
                margin-top: 0.18rem;
            }
        }

        .menu-link:hover {
            color: var(--color-hover-primary);
        }

        .menu-link:focus-visible {
            outline: 2px solid var(--color-hover-primary);
        }

        .menu-back {
            margin-right: 0.5rem;
            font-family: "Poppins-Medium", Verdana, sans-serif;
            font-size: 0.7rem;
        }
    }

    >li:has(.menu-libelle) {
        &:hover, &:has(a:focus) {
            /* .menu-libelle {
                color: var(--color-hover-primary);
            } */

            .menu-libelle::after {
                transform: rotate(90deg);
                /* border-left-color: var(--color-hover-primary); */
            }
        }
    }

    /* BANDEAU : MENU DÉROULANT */

    .menu-dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: var(--color-bg-bandeau-submenu);
        box-shadow: 0 2px 10px var(--color-shadow-primary);
        transition: 0.4s ease-in-out;
        overflow: hidden;

        >div {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            gap: 4rem;

            >div {
                >span {
                    font-size: 1.2rem;
                    color: var(--color-font-submenu-title);
                    margin: 0 auto;
                    cursor: default;
                }
            }
        }
    }

    /* BANDEAU : SOUS-MENU */

    .submenu {
        list-style-type: none;
        padding: 1rem 0;
        line-height: 2rem;

        a {
            text-wrap: nowrap;
            font-size: 1.1rem;
            color: var(--color-font-light);
            transition: color var(--transition-primary);

            &:hover {
                color: var(--color-hover-secondary);
            }

            &:focus-visible {
                outline: 2px solid var(--color-hover-secondary);
            }
        }
    }

    /* ANIMATION DU MENU DÉROULANT */

    >li:hover, >li:has(a:focus) {
        .menu-dropdown {
            height: calc-size(auto, size);
            padding: 1rem 0;
        }
    }
}